{% extends 'base.html' %}
{% block content %}

<div class="card" style="max-width: 600px; margin: 0 auto;">
    <div class="card-title">Редагувати повідомлення</div>
    <p class="muted" style="margin-bottom:10px;">
        Тема:
        <a href="{% url 'topic_detail' post.topic.pk %}">{{ post.topic.title }}</a>
    </p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn" style="width:100%;">Зберегти</button>
    </form>
</div>

{% endblock %}
