{% extends 'base.html' %}
{% block content %}

<div class="card" style="max-width: 420px; margin: 40px auto;">
    <div class="card-title">Реєстрація</div>

    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <label>Ім'я користувача:</label>
        {{ form.username }}

        <br><br>

        <label>Пароль:</label>
        {{ form.password1 }}

        <br><br>

        <label>Підтвердження пароля:</label>
        {{ form.password2 }}

        <br><br>

        <button type="submit" class="btn" style="width:100%;">Зареєструватися</button>
    </form>

    <p class="muted" style="margin-top: 12px; font-size: 13px;">
        Вже маєш акаунт?
        <a href="{% url 'login' %}">Увійти</a>
    </p>
</div>

{% endblock %}
