{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-header">
        <div class="card-title">Користувачі</div>
    </div>

    <form method="get" style="margin-bottom:10px;">
        <label for="q">Пошук користувача</label>
        <input type="text" id="q" name="q" value="{{ q }}" placeholder="Введи нік...">
    </form>

    {% if users %}
        <ul class="list">
            {% for u in users %}
                <li>
                    <a href="{% url 'profile_detail' u.username %}">{{ u.username }}</a>

                    {% if u.profile.show_admin_status and u.is_superuser %}
                        <span class="mini-badge mini-admin">ADMIN</span>
                    {% elif u.profile.show_admin_status and u.is_staff %}
                        <span class="mini-badge mini-mod">MOD</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="empty">Користувачів не знайдено.</p>
    {% endif %}
</div>

{% endblock %}
